# Environment variables & secrets
.env
*.env

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# Pytest / Testing
.pytest_cache/
.coverage
htmlcov/

# IDE & OS files
.idea/
.vscode/
.DS_Store
*.log
