@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0c0d10] text-gray-200 antialiased font-sans;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #121318;
}

::-webkit-scrollbar-thumb {
  background: #272832;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3e3f4e;
}
